{% extends "admin/layout.html" %}
{% block content %}

<h2>System Monitor</h2>

<table>
<tr><th>CPU</th><td id="cpu">--</td></tr>
<tr><th>RAM</th><td id="ram">--</td></tr>
<tr><th>Load</th><td id="load">--</td></tr>
<tr><th>Threads</th><td id="threads">--</td></tr>
<tr><th>Uptime</th><td id="uptime">--</td></tr>
</table>

<canvas id="cpuChart" height="120"></canvas>
<br>
<canvas id="ramChart" height="120"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.ably.io/lib/ably.min-1.js"></script>
<script>
    const ABLY_PUBLIC_KEY = "{{ ably_public }}";
</script>
<script src="/static/monitor.js"></script>

{% endblock %}